@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Alternates|Poppins&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: "Montserrat Alternates", sans-serif;
}
body {
background-image: #efe9e0;
background-attachment: fixed;
background-size: cover; 
background-position: center; 
background-repeat: no-repeat;
}
.capa {
position: fixed;
width: 100%;
height: 100vh;
z-index: -1;
top: 0;
left: 0;
}
/*Estilos para el encabezado*/
.header {
width: 100%;
height: 100px;
position: fixed;
top: 0;
left: 0;
}
.container {
width: 90%;
max-width: 1200px;
margin: auto;
}
.container .btn-menu,
.logo {
float: left;
line-height: 100px;
}
.container .btn-menu label {
color: black;
font-size: 25px;
cursor: pointer;
}
.logo h1 {
color: black;
font-weight: 400;
font-size: 22px;
margin-left: 10px;
}
.container .menu {
float: right;
line-height: 100px;
}
.container .menu a {
display: inline-block;
padding: 15px;
line-height: normal;
text-decoration: none;
color: black;
transition: all 0.3s ease;
border-bottom: 2px solid transparent;
font-size: 15px;
margin-right: 5px;
}
.container .menu a:hover {
border-bottom: 2px solid #c7c7c7;
padding-bottom: 5px;
}
/*Fin de Estilos para el encabezado*/

/*Cuadros*/
.cuadro1{
    text-align: center;
    height: 220px;
    width: 400px;
    background-color: rgb(47, 51, 47);
    position: absolute;
    left: 10%;
    top: 20%;
}
.cuadro2{
    text-align: center;
    height: 220px;
    width: 400px;
    background-color: rgb(47, 51, 47);
    position:absolute;
    left: 60%;
    top: 20%;
}
.cuadro3{
    text-align: center;
    height: 220px;
    width: 400px;
    background-color: rgb(47, 51, 47);
    position: absolute;
    left: 10%;
    top: 60%;
}
.cuadro4{
    text-align: center;
    height: 220px;
    width: 400px;
    background-color: rgb(47, 51, 47);
    position: absolute;
    left: 60%;
    top: 60%;
}
/*Fin cuadros*/

/*Botones cuadros*/
.btn1 {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #0f9e99;
    color: #efe9e0;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 6px 6px 20px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 20px -1px rgba(255, 255, 255, 0.7);
}

.btn1:hover {
    background-color: #0f9e99;
    box-shadow: inset 4px 4px 10px -1px rgba(0, 0, 0, 0.15),
                inset -4px -4px 10px -1px rgba(255, 255, 255, 0.7);
}
.btn2 {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #0f9e99;
    color: #efe9e0;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 6px 6px 20px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 20px -1px rgba(255, 255, 255, 0.7);
}

.btn2:hover {
    background-color: #0f9e99;
    box-shadow: inset 4px 4px 10px -1px rgba(0, 0, 0, 0.15),
                inset -4px -4px 10px -1px rgba(255, 255, 255, 0.7);
}
.btn3 {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #0f9e99;
    color: #efe9e0;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 6px 6px 20px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 20px -1px rgba(255, 255, 255, 0.7);
}

.btn3:hover {
    background-color: #0f9e99;
    box-shadow: inset 4px 4px 10px -1px rgba(0, 0, 0, 0.15),
                inset -4px -4px 10px -1px rgba(255, 255, 255, 0.7);
}
.btn4 {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background-color: #0f9e99;
    color: #efe9e0;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease;
    box-shadow: 6px 6px 20px -1px rgba(0, 0, 0, 0.15),
                -6px -6px 20px -1px rgba(255, 255, 255, 0.7);
}

.btn4:hover {
    background-color: #0f9e99;
    box-shadow: inset 4px 4px 10px -1px rgba(0, 0, 0, 0.15),
                inset -4px -4px 10px -1px rgba(255, 255, 255, 0.7);
}
/*Fin Botones cuadros*/

/*Menù lateral*/
#btn-menu {
display: none;
}
.container-menu {
position: absolute;
background: rgba(0, 0, 0, 0.5);
width: 100%;
height: 100vh;
top: 0;
left: 0;
transition: all 500ms ease;
opacity: 0;
visibility: hidden;
}
#btn-menu:checked ~ .container-menu {
opacity: 1;
visibility: visible;
}
.cont-menu {
width: 100%;
max-width: 250px;
background: #df3ca0be;
height: 100vh;
position: relative;
transition: all 500ms ease;
transform: translateX(-100%);
}
#btn-menu:checked ~ .container-menu .cont-menu {
transform: translateX(0%);
}
.cont-menu nav {
transform: translateY(15%);
}
.cont-menu nav a {
display: block;
text-decoration: none;
padding: 20px;
color: #c7c7c7;
border-left: 5px solid transparent;
transition: all 400ms ease;
}
.cont-menu nav a:hover {
border-left: 5px solid #c7c7c7;
background: #1f1f1f;
}
.cont-menu label {
position: absolute;
right: 5px;
top: 10px;
color: #fff;
cursor: pointer;
font-size: 18px;
}
/*Fin de Menù lateral*/