<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Contestadora 911</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body>
    <header>
        <a href="#" class="logo">Alex</a>
        <nav>
            <a href="Index">Inicio</a>
            <a href="cola">Colas</a>
            <a href="pila">Pilas</a>
            <a href="about">Nosotros</a>
            <a href="https://github.com/Mogollo7/Contestadora-911.git" target="_blank">Documentación</a>
        </nav>
    </header>
    <section class="about-card">
        <div class="contributors contributors-row">
            <div class="contributor card-style">
                <img src="https://avatars.githubusercontent.com/u/10207313?v=4" alt="Mogollo7">
                <a href="https://github.com/Mogollo7" target="_blank">@Mogollo7</a>
            </div>
            <div class="contributor card-style">
                <img src="https://avatars.githubusercontent.com/u/180795405?v=4" alt="Brandsete">
                <a href="https://github.com/Brandsete" target="_blank">@Brandsete</a>
            </div>
            <div class="contributor card-style">
                <img src="https://avatars.githubusercontent.com/u/163755252?v=4" alt="ALEKSITOooo">
                <a href="https://github.com/ALEKSITOooo" target="_blank">@ALEKSITOooo</a>
            </div>
        </div>
    </section>
</body>
</html>
