<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">
    <title>911-bot</title>
    <script defer src="{{ url_for('static', filename='js/chat.js') }}"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
</head>
<body>
   <header>
    <a href="#" class="logo">Alex</a>
    <nav>
        <a href="#" class="Inicio"></a>
        <a href="Index" >Inicio</a>
        <a href="cola">Colas</a>
        <a href="pila">Pilas</a>
        <a href="#">Nosotros</a>
        <a href="doc">Documentación</a>
    </nav>
   </header> 
    <div class="chat-box">
        <div class="chat-header">
            <div class="chat-profile">
                <img src="static/img/OIP.jpeg" alt="">
            </div>
            <div class="chat-name">
                <b>Usuario</b><br /><small>Respondiendo..</small>
            </div>
            <div class="call">
                <ion-icon name="call"></ion-icon>
            </div>
        </div>
        <div class="chat-messages" id="msg-plt">
            <div class="message-container">
                <div class="message-text">
                    <p>
                        👋 <strong>Bienvenido al chat de emergencias 911</strong>. Estamos aquí para ayudarte ante cualquier situación urgente.
                        <br><br>
                        Para asistirte de la forma más rápida y eficiente posible, se te hará una breve serie de preguntas.
                        <br><br>
                        🕒 Por favor, responde con claridad para que podamos brindarte ayuda inmediata.
                    </p>
        </div>
        <div class="chat-input">
            <input type="text" id="msg" placeholder="Ingresa tu mensaje..."/>
            <button onclick="send()">Send</button>
        </div>
    </div>
</body>
</html>