<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/doc.css') }}">
    <title>Documentación</title>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <a href="#" class="logo">Doc v1.0</a>
    
      <nav>
          <a href="#" class="Inicio"></a>
          <a href="Index" >Inicio</a>
          <a href="cola">Colas</a>
          <a href="pila">Pilas</a>
          <a href="#">Nosotros</a>
          <a href="doc">Documentación</a>
      </nav>
    </header>
    <div class="container">
        <div class="main-content">
          <aside class="neo-sidebar">
            <h2>Contenido</h2>
            <nav>
              <ul>
                <li><button onclick="location.href='doc.html'">Introducción</button></li>
                <li><button onclick="mostrar('objetivos')">Objetivos</button></li>
                <li><button onclick="mostrar('alcance')">Alcance</button></li>
                <li><button onclick="mostrar('tecnologias')">Tecnologías</button></li>
                <li><button onclick="mostrar('requisitos')">Requisitos</button></li>
                <li><button onclick="mostrar('instalacion')">Instalación</button></li>
                <li><button onclick="mostrar('docker')">Docker</button></li>
                <li><button onclick="mostrar('arquitectura')">Arquitectura</button></li>
                <li><button onclick="mostrar('mapas')">Mapas</button></li>
                <li><button onclick="mostrar('chatbot')">Chat bot</button></li>
                <li><button onclick="mostrar('testing')">Testing</button></li>
                <li><button onclick="mostrar('despliegue')">Despliegue</button></li>
                <li><button onclick="mostrar('creditos')">Créditos</button></li>
              </ul>
            </nav>
          </aside>
          <section class="neo-card" id="seccion">
              <section class="intro-section">
                <h3>Introducción</h3>

                <p>
                El proyecto consiste en desarrollar un chatbot que, mediante el uso de diversas estructuras de datos, permita evaluar el tipo de emergencia, su prioridad, calcular la ruta óptima para atenderla y gestionarla según su nivel de urgencia. Además, se crea un historial de emergencias para conformar una base de datos con información pertinente.
                </p>

                <p>
                Este sistema surge ante la creciente necesidad de apoyar la gestión de emergencias con herramientas tecnológicas, dado que los recursos humanos a menudo resultan insuficientes para atender la alta demanda de incidentes.
                </p>

                <div class="alert alert-info">
                <p>
                    Con base en el consolidado de estadísticas que reporta la Unidad Nacional para la Gestión del Riesgo de Desastres (UNGRD), en lo correspondiente al año 2022, los movimientos en masa son los eventos que se presentan con mayor frecuencia en el país y alcanzan un 30,56 % del total de emergencias. Esto, seguido de inundaciones (20,46 %) e incendios forestales (20,29 %).
                </p>
                <p class="alert-footer">
                    <hr class="custom-hr" />
                    Fuente: <a href="https://www.portafolio.co/economia/regiones/aumentan-en-un-15-las-emergencias-por-desastres-en-colombia-en-el-ultimo-ano-590607" target="_blank">Portafolio (2023)</a>
                </p>
                </div>

                <p>
                La línea 123 es fundamental para la atención de situaciones críticas. En 2024 se reportaron más de <strong>5.2 millones de llamadas</strong>, pero solo el <strong>29 %</strong> fueron verdaderas emergencias. Esto significa que cerca de <strong>3.7 millones</strong> no requerían atención inmediata.
                </p>

                <p>
                Además, en los primeros cuatro meses de 2023 se observó un incremento del <strong>18 %</strong> respecto al mismo periodo de 2022, con un total de <strong>2 899 022 llamadas</strong> frente a <strong>2 454 899</strong> del año anterior.
                </p>

                <div class="alert alert-info">
                <div class="chart-container" style="width: 100%; max-width: 600px; margin: auto; padding: 20px 0;">
                    <canvas id="chartEmergencias"></canvas>
                </div>
                <p class="alert-footer">
                    <hr class="custom-hr" />
                    Fuentes:
                    <a href="https://repository.unad.edu.co/bitstream/handle/10596/66917/dsperezpat.pdf?sequence=3&isAllowed=y" target="_blank">UNAD (2023)</a>
                </p>
                </div>

                <p>
                El chatbot inicia la interacción saludando al usuario, solicitando su nombre y ubicación, con la cual se calcula una ruta para atender su emergencia. Asimismo, intenta tranquilizar al usuario y, utilizando un árbol de decisiones, determina el tipo de prioridad y el departamento asignado.
                </p>

    
                <div class="button-container">
                    <button class="neo-button" onclick="mostrar('objetivos')">Siguiente
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                    </button>
                </div>

            </section>

          </section>
        </div>
      </div>
      <script src="{{ url_for('static', filename='js/doc.js') }}"></script>

</body>
</html>