<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/doc.css') }}">
    <title>Documentación</title>
</head>
<body>
    <header>
        <a href="#" class="logo">Alex</a>
        <nav>
            <a href="Index">Inicio</a>
            <a href="cola">Colas</a>
            <a href="pila">Pilas</a>
            <a href="about">Nosotros</a>
            <a href="https://github.com/Mogollo7/Contestadora-911.git" target="_blank">Documentación</a>
        </nav>
    </header>
</body>
</html>